body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    vertical-align: top;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    margin-top: 10px;
    display: block;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.lesson-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.edit-btn,
.delete-btn {
    padding: 2px 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.available-classrooms {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.available-classrooms button {
    margin-top: 10px;
}

.available-classrooms h2 {
    text-align: center;
}

.professor-schedule {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.professor-schedule button {
    margin-top: 10px;
}

.professor-schedule h2 {
    text-align: center;
}

.statistics {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.statistics h2 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.statistics ul {
    list-style-type: none;
    padding: 0;
}

.statistics li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #555;
}

.statistics span {
    font-weight: bold;
    color: #2c3e50;
}

#classroomUtilization {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#classroomUtilization h3 {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.progress-label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.progress-bar {
    flex: 4;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lesson-info {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.additional-lesson {
    margin-top: 10px;
    padding-top: 10px;
}